<c-nav variant="tabs" style="position: relative">
  <div>
    <c-dropdown>
      <button cButton cDropdownToggle style="margin: 3px" color="primary">
        Js
      </button>
      <ul cDropdownMenu>
        <li><a [routerLink]="[]" cDropdownItem>Python</a></li>
        <li>
          <a [routerLink]="[]" cDropdownItem class="selected">JavaScript</a>
        </li>
        <li><a [routerLink]="[]" cDropdownItem>Java</a></li>
      </ul>
    </c-dropdown>
  </div>
  <a
    [active]="true"
    [cTabContent]="tabContent"
    [routerLink]
    [tabPaneIdx]="0"
    cNavLink
    >Main.js</a
  >
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink
    >Output</a
  >
  <div style="position: absolute; right: 0">
    <button cButton class="m-1"  color="secondary" (click)="run()">
      <c-spinner *ngIf="isLoading" aria-hidden="true" size="sm" variant="grow"></c-spinner>
      Run
    </button>
  </div>
</c-nav>
  <c-tab-content [activeTabPaneIdx]="activePane"  (activeTabPaneIdxChange)="onTabChange($event)" #tabContent="cTabContent" style="height: 100%; width: 100%">
  <c-tab-pane style="height: 100%; width: 100%">
    <ngx-monaco-editor
      style="min-height: 800px"
      [options]="editorOptions"
      [(ngModel)]="code"
      (onInit)="onInit($event)"
    ></ngx-monaco-editor>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <div style="height: 100%;width: 100%;">

      <p>
        >> output : 55<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>
        >> ["test","tesgdfgr","etsdf"]<br>

      </p>


    </div>
  </c-tab-pane>
  
</c-tab-content>
